{
    "openapi": "3.0.0",
    "info": {
        "title": "Memida API",
        "description": "# Introduction\nThe Memida API is built on HTTP.  Our API is RESTful. It has predictable\nresource URLs.  It returns HTTP response codes to indicate errors.  It also\naccepts and returns JSON in the HTTP body. You can use your favorite\nHTTP/REST library for your programming language.\n\nTo ensure you receive JSON data, please include the `Accept: application/json` header in your HTTP request.\n\n## Authentication\nGenerate your API key under More options → API. You can also delete keys later (useful for rotating credentials).\nTo authenticate with the Memida API, include your secret key in the request headers.\n\n:::info\nDuring the test period, please contact us to request API access.\n:::\n\nMemida offers one form of authentication:  private key.\n- private key: authenticates by the HTTP header: Auth (read more on this below).\n\nNever share your secret keys. Keep them guarded and secure.\nThe client-side authentication scheme uses one HTTP header named Auth.\n\n\n```json\n{\n    Auth: 'live XXXXXXXXXXXXXXXXXXXXXXX'\n}\n```\n\n## API Error Responses\n\nIn our REST API, we follow standard HTTP status codes to indicate the result of each request. When an error occurs,\nthe API will return a JSON object with a dynamic error message to help you diagnose and resolve the issue.\n\n### Dynamic Validator Response\n\n```json\n{\n    error: {\n        type: {\n            is_type: 'type is not valid'\n        }\n    }\n}\n```\n\n### HTTP Dynamic Response\n\n```json\n{\n    message: 'Not Found',\n    url: '/api/v1/files/info/50ece4de-1468-4a07-83f1-f66d5c1d397e4',\n    code: 404\n}\n```\n\n",
        "contact": {
            "name": "Memida API Team",
            "email": "api@memida.de"
        },
        "version": "1.0.0",
        "x-logo": {
            "url": "https://api.staging.memida.de/img/logo_api.png",
            "altText": "Memida API"
        }
    },
    "servers": [
        {
            "url": "https://api.memida.de",
            "description": "API server"
        }
    ],
    "paths": {
        "/api/v1/info": {
            "get": {
                "tags": [
                    "ApiToken"
                ],
                "summary": "Get API Token Info",
                "description": "Get current API token information",
                "operationId": "ApiTokenInfo",
                "responses": {
                    "200": {
                        "description": "API token information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/apiToken"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/schemas/unauthorized"
                    }
                }
            }
        },
        "/api/v1/apparatus_basedata_types": {
            "get": {
                "tags": [
                    "ApparatusBasedataTypes"
                ],
                "summary": "List apparatus basedata types",
                "description": "Get list of apparatus basedata types. Returns both default\n        types (system-wide) and custom types (organization-specific).",
                "operationId": "apparatusBasedataTypesIndex",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by type name",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "pattern": "\\w+"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "name"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "description": "Sort direction",
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "desc",
                                "asc"
                            ]
                        }
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "description": "Filter by default apparatus basedata types.\n                <br /> If `true` only default types will be returned",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Apparatus basedata types list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/apparatusBasedataTypesIndex"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-position": 1
            },
            "post": {
                "tags": [
                    "ApparatusBasedataTypes"
                ],
                "summary": "Add apparatus basedata type",
                "description": "Create new apparatus basedata type.\n        :::tip\n        We recommend to use a unique name for each apparatus basedata type.\n        :::",
                "operationId": "apparatusBasedataTypeAdd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusBasedataTypesAdd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Apparatus basedata type added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    }
                },
                "x-position": 3
            }
        },
        "/api/v1/apparatus_basedata_types/{id}": {
            "get": {
                "tags": [
                    "ApparatusBasedataTypes"
                ],
                "summary": "View apparatus basedata type",
                "description": "Get a single apparatus basedata type by UUID",
                "operationId": "apparatusBasedataTypesView",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus basedata type UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Apparatus basedata type details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/apparatusBasedataTypesIndex"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Apparatus basedata type not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 2
            },
            "put": {
                "tags": [
                    "ApparatusBasedataTypes"
                ],
                "summary": "Edit apparatus basedata type",
                "description": "Edit apparatus basedata type. Default apparatus basedata types (system-wide) can also be edited.",
                "operationId": "apparatusBasedataTypeEdit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus basedata type UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusBasedataTypesAdd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Apparatus basedata type updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "404": {
                        "description": "Apparatus basedata type not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 4
            },
            "delete": {
                "tags": [
                    "ApparatusBasedataTypes"
                ],
                "summary": "Delete apparatus basedata type",
                "description": "Delete apparatus basedata type.\n        :::info\n        Deleted apparatus basedata types still exist in the system\n        for record-keeping purposes but are marked as deleted and cannot be used in new records.\n        They still show up in existing records where they were used before deletion.\n        :::",
                "operationId": "apparatusBasedataTypeDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus basedata type UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Apparatus basedata type deleted successfully"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 5
            }
        },
        "/api/v1/apparatus_basedatas": {
            "get": {
                "tags": [
                    "ApparatusBasedatas"
                ],
                "summary": "List apparatus basedatas",
                "description": "Get list of apparatus basedatas (master data)",
                "operationId": "apparatusBasedatasIndex",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of items per page",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Field to sort by",
                        "schema": {
                            "type": "string",
                            "default": "created",
                            "enum": [
                                "model",
                                "created",
                                "modified"
                            ]
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Sort direction",
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "manufactor_id",
                        "in": "query",
                        "description": "Filter by manufacturer UUID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in `name`, `model` and `description` fields",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "default",
                        "in": "query",
                        "description": "Filter by default apparatus basedatas.\n                <br /> If `true` only default apparatus basedatas will be returned",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Apparatus basedatas list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/apparatusesBasedatasIndex"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                },
                "x-position": 1
            },
            "post": {
                "tags": [
                    "ApparatusBasedatas"
                ],
                "summary": "Add apparatus basedata",
                "description": "Create new apparatus basedata (master data), used when creating new apparatus.\n        :::tip\n        We recommend to use a unique combination of `model` (name/number),\n        `manufacturer`, and `type` for each apparatus basedata.\n        :::",
                "operationId": "ApparatusBasedataAdd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "model"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusBasedataAddSchema"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ApparatusBasedataFilesAddSchema"
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "model"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusBasedataAddSchema"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Apparatus basedata added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apparatus_basedatas/{id}": {
            "put": {
                "tags": [
                    "ApparatusBasedatas"
                ],
                "summary": "Edit apparatus basedata",
                "description": "Edit existing apparatus basedata (master data)",
                "operationId": "ApparatusBasedataEdit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus Basedata UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApparatusBasedataEditSchema"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ApparatusBasedataFilesAddSchema"
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/ApparatusBasedataEditSchema"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Apparatus basedata updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ApparatusBasedatas"
                ],
                "summary": "Delete apparatus basedata",
                "description": "Delete apparatus basedata.\n        :::info\n        Deleted basedatas still exist in the system for record-keeping purposes but are marked as\n        deleted and cannot be used in new records.\n        It still show up in existing records where they were used before deletion.\n        :::",
                "operationId": "ApparatusBasedataDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus Basedata UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Apparatus basedata deleted successfully"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apparatus_basedatas/{apparatus_basedata_id}": {
            "get": {
                "tags": [
                    "ApparatusBasedatas"
                ],
                "summary": "View apparatus basedata",
                "description": "Get single apparatus basedata by UUID",
                "operationId": "apparatusBasedatasView",
                "parameters": [
                    {
                        "name": "apparatus_basedata_id",
                        "in": "path",
                        "description": "Apparatus basedata UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Apparatus basedata details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/apparatusesBasedatasView"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Apparatus basedata not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                },
                "x-position": 2
            }
        },
        "/api/v1/apparatuses": {
            "get": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "List apparatuses",
                "description": "Get list of apparatuses",
                "operationId": "apparatusesIndex",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "description": "Search multiple fields",
                            "type": "string",
                            "minLength": 3,
                            "pattern": "\\w+"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "description": "Sort direction",
                            "type": "string",
                            "enum": [
                                "desc",
                                "asc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "apparatuses list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "apparatuses",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/apparatuses"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-position": 1
            },
            "post": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "Create apparatus",
                "description": "create new apparatus",
                "operationId": "ApparatusAdd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "identno",
                                    "costcenter_id",
                                    "apparatus_basedata_id"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusesAdd"
                                    },
                                    {
                                        "$ref": "#/components/schemas/apparatusesFilesAdd"
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identno",
                                    "costcenter_id",
                                    "apparatus_basedata_id"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusesAdd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "apparatus added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apparatuses/comments/{id}": {
            "delete": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "Delete comment",
                "description": "delete apparatus comment",
                "operationId": "ApparatusCommentDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus Comment UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "comment deleted successfully"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apparatuses/{apparatus_id}/comments": {
            "get": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "List comments",
                "description": "Get all comments for a specific apparatus",
                "operationId": "ApparatusCommentsIndex",
                "parameters": [
                    {
                        "name": "apparatus_id",
                        "in": "path",
                        "description": "Apparatus `id` <UUID>",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "description": "Sort direction",
                            "type": "string",
                            "enum": [
                                "desc",
                                "asc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with comments list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/apparatusesComments"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Apparatus not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                },
                "x-position": 4
            }
        },
        "/api/v1/apparatuses/{id}": {
            "put": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "Update apparatus",
                "description": "edit existing apparatus",
                "operationId": "ApparatusEdit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Apparatus UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusesEdit"
                                    },
                                    {
                                        "$ref": "#/components/schemas/apparatusesFilesAdd"
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/apparatusesEdit"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "apparatus updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/apparatuses/identno/{identno_id}": {
            "get": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "Get apparatus by identno",
                "description": "Get single view of apparatus by `identno`",
                "operationId": "apparatusesIndentnoView",
                "parameters": [
                    {
                        "name": "identno_id",
                        "in": "path",
                        "description": "Apparatuses identification number.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "TZ0089"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "apparatus view",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/apparatusesView"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 3
            }
        },
        "/api/v1/apparatuses/{apparatus_id}": {
            "get": {
                "tags": [
                    "Apparatuses"
                ],
                "summary": "Get apparatus by id",
                "description": "Get single view of apparatus by apparatus_id",
                "operationId": "apparatusesView",
                "parameters": [
                    {
                        "name": "apparatus_id",
                        "in": "path",
                        "description": "Apparatuses Index uuid.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "6491cfb2-e316-548b-b69b-4a4ed5845ed3"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "apparatus view",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/apparatusesView"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 2
            }
        },
        "/api/v1/custom_fields": {
            "get": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "List custom fields",
                "description": "Get list of all added custom_fields, sorted by `field_id` and `type` ",
                "operationId": "customFieldsIndex",
                "responses": {
                    "200": {
                        "description": "Success custom fields list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "custom field",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/customFieldsMeta"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-position": 1
            },
            "post": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Create custom field",
                "description": "create custom field details",
                "operationId": "customFieldsAdd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "title",
                                    "form_type"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/customFieldsMetaAdd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "field_id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    }
                }
            }
        },
        "/api/v1/custom_fields/{custom_field_id}": {
            "get": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Get custom field",
                "description": "Get details of a custom field",
                "operationId": "customFieldsView",
                "parameters": [
                    {
                        "name": "custom_field_id",
                        "in": "path",
                        "description": "An identifier for a custom field.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "41e61587-1aed-5bac-887d-c7a705cdcdcb"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success custom fields list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/customFieldsMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 2
            },
            "put": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Update custom field",
                "description": "Update details of a custom field",
                "operationId": "customFieldsEdit",
                "parameters": [
                    {
                        "name": "custom_field_id",
                        "in": "path",
                        "description": "An identifier for a custom field.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "bdc9353c-5215-5502-aa01-510fe9f4ba8d"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/customFieldsMetaEdit"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/default_edit_response"
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Delete custom field",
                "description": "Delete custom field by id",
                "operationId": "customFieldsDelete",
                "parameters": [
                    {
                        "name": "custom_field_id",
                        "in": "path",
                        "description": "An identifier for a custom field.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Custom field deleted successfully"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/custom_fields/{type}/{field_id}": {
            "get": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Get custom field",
                "description": "Get details of a custom field  by `type` and `field_id`",
                "operationId": "customFieldsViewById",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "An identifier for a custom field.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Apparatuses",
                                "Inspections",
                                "Testplans"
                            ]
                        }
                    },
                    {
                        "name": "field_id",
                        "in": "path",
                        "description": "field key",
                        "required": true,
                        "schema": {
                            "description": "`field_id` is unique in combination with the `type`",
                            "type": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success custom fields list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/customFieldsMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 3
            },
            "put": {
                "tags": [
                    "Custom Fields"
                ],
                "summary": "Update custom field by field_id",
                "description": "Update details of a custom field by `type` and `field_id`",
                "operationId": "customFieldsEditById",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "An identifier for a custom field.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Apparatuses",
                                "Inspections",
                                "Testplans"
                            ]
                        }
                    },
                    {
                        "name": "field_id",
                        "in": "path",
                        "description": "field key",
                        "required": true,
                        "schema": {
                            "description": "`field_id` is unique in combination with the `type`",
                            "type": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/customFieldsMetaEdit"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/default_edit_response"
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/files/{file_id}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get a File",
                "description": "Get single File - returns the file as binary data with appropriate content-type header",
                "operationId": "FilesView",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File by id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File download successful",
                        "headers": {
                            "Content-Disposition": {
                                "description": "Attachment with original filename",
                                "schema": {
                                    "type": "string",
                                    "example": "attachment; filename=\"document.pdf\""
                                }
                            },
                            "Content-Type": {
                                "description": "MIME type of the file",
                                "schema": {
                                    "type": "string",
                                    "example": "application/pdf"
                                }
                            }
                        },
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "description": "Binary file data",
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "image/*": {
                                "schema": {
                                    "description": "Image file data",
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "description": "PDF file data",
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "description": "Text file data",
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Files"
                ],
                "summary": "Delete a File",
                "description": "The DELETE File Endpoint is a critical API resource that allows\n        users to irreversibly delete a specified file. When you make a DELETE request to\n        this endpoint, the file will be permanently removed and cannot be recovered.",
                "operationId": "FilesDelete",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File by id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "File deleted successfully"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/files/info/{file_id}": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get file informations",
                "description": "Get single File",
                "operationId": "FilesInfo",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File by id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "files view",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "file",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/files"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/filesInfo"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/files": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Public file access",
                "description": "Create public file url",
                "operationId": "FilesPublic",
                "parameters": [
                    {
                        "name": "file_id",
                        "in": "path",
                        "description": "File by id",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "public"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/filesPublic"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Files view",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "file",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/files"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/filesInfo"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/inspections/types": {
            "get": {
                "tags": [
                    "Inspections"
                ],
                "summary": "List inspection types",
                "description": "Get list of inspection types. Custom inspection types (organization-specific).",
                "operationId": "inspectionTypes",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "created"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "description": "Sort direction",
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "desc",
                                "asc"
                            ]
                        }
                    },
                    {
                        "name": "parent_type",
                        "in": "query",
                        "description": "Filter by parent type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "other",
                                "calibration",
                                "repair",
                                "inspection",
                                "decision"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inspection types list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/inspectionTypeIndex"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-position": 2
            }
        },
        "/api/v1/inspections": {
            "get": {
                "tags": [
                    "Inspections"
                ],
                "summary": "List inspections",
                "description": "get list of inspections",
                "operationId": "inspectionsIndex",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 20,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "schema": {
                            "description": "Sort direction",
                            "type": "string",
                            "enum": [
                                "desc",
                                "asc"
                            ]
                        }
                    },
                    {
                        "name": "apparatus_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "inspections list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "custom field",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/inspectionsView"
                                            }
                                        },
                                        "paginator": {
                                            "$ref": "#/components/schemas/Paginator"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-position": 1
            },
            "post": {
                "tags": [
                    "Inspections"
                ],
                "summary": "Create inspection",
                "description": "create new inspection",
                "operationId": "InspectionsAdd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "inspection_result",
                                    "apparatus_id",
                                    "checked_at"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/inspectionsAdd"
                                    },
                                    {
                                        "properties": {
                                            "files": {
                                                "type": "array",
                                                "items": {
                                                    "allOf": [
                                                        {
                                                            "type": "string",
                                                            "format": "binary"
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "type": "object",
                                        "property": null
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "inspection_result",
                                    "apparatus_id",
                                    "checked_at"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/inspectionsAdd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "inspection added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/inspections/{inspection_id}": {
            "get": {
                "tags": [
                    "Inspections"
                ],
                "summary": "Get inspection by id",
                "description": "get single view of Inspections",
                "operationId": "InspectionsView",
                "parameters": [
                    {
                        "name": "inspection_id",
                        "in": "path",
                        "description": "Inspection uuid.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "37fd21e4-c53c-5801-93a8-ca0dd655629bInspection Index uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "inspection view",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "inspections",
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/inspectionsView"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "x-position": 3
            },
            "put": {
                "tags": [
                    "Inspections"
                ],
                "summary": "Update inspection",
                "description": "update inspections",
                "operationId": "InspectionsEdit",
                "parameters": [
                    {
                        "name": "inspection_id",
                        "in": "path",
                        "description": "Inspection uuid.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/inspectionsEdit"
                                    },
                                    {
                                        "properties": {
                                            "files": {
                                                "type": "array",
                                                "items": {
                                                    "allOf": [
                                                        {
                                                            "type": "string",
                                                            "format": "binary"
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "type": "object",
                                        "property": null
                                    }
                                ]
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/inspectionsEdit"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/default_edit_response"
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Inspections"
                ],
                "summary": "Add inspection file",
                "description": "add another inspection file",
                "operationId": "InspectionsFileAdd",
                "parameters": [
                    {
                        "name": "inspection_id",
                        "in": "path",
                        "description": "Inspection Index uuid.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "type",
                                    "inspection_result_id",
                                    "apparatus_id"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "properties": {
                                            "files": {
                                                "type": "array",
                                                "items": {
                                                    "allOf": [
                                                        {
                                                            "type": "string",
                                                            "format": "binary"
                                                        }
                                                    ]
                                                }
                                            }
                                        },
                                        "type": "object",
                                        "property": null
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success inspection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "list of file id's",
                                            "type": "array",
                                            "items": {
                                                "type": "uuid"
                                            },
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/default_validation_error_response"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/api/v1/manufacturers": {
            "get": {
                "tags": [
                    "Manufacturers"
                ],
                "summary": "List manufacturers",
                "description": "Get list of manufacturers. Returns both default manufacturers (system-wide)\n        and custom manufacturers (organization-specific).",
                "operationId": "manufacturersIndex",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by manufacturer name",
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "pattern": "\\w+"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "name"
                        }
                    },
                    {
[...]
